.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.fade {
  transition: opacity 0.15s linear;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: '';
}
.modal-dialog {
  margin: 20px;
}
.modal .modal-dialog {
  max-width: 100%;
}
.modal .modal-dialog .modal-content {
  border-radius: 10px;
  border: 0;
  background-color: var(--bg-white);
}
.modal .modal-dialog .modal-content .modal-body {
  background-color: var(--bg-white);
}
.modal .modal-dialog .modal-content .modal-body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}
.modal .modal-dialog.height-full {
  height: 100%;
  max-height: 100%;
}
.modal .modal-dialog.height-full .modal-content {
  max-height: 100%;
}
.modal.defaultModal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-color: var(--border-snow);
}
.modal.defaultModal .modal-header .close {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: var(--bg-snow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  float: inherit;
  text-shadow: none !important;
  box-shadow: none !important;
}
.modal.defaultModal .modal-header .close i {
  font-size: 17px;
  font-weight: 500;
  color: var(--color-secondary);
}
.modal.transition-bottom.fade .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  -webkit-transition: transform 0.35s;
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -ms-transition: transform 0.35s;
  transition: transform 0.35s;
  transform: translateY(100%) !important;
  -webkit-transform: translateY(100%) !important;
  -moz-transform: translateY(100%) !important;
  -o-transform: translateY(285px) !important;
  width: 100%;
}
.modal.transition-bottom.show .modal-dialog {
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  bottom: 0;
}
.modal.screenFull .modal-dialog {
  margin: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal.screenFull .modal-dialog .modal-content {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.modal.screenFull .modal-dialog .modal-content .modal-footer {
  border-radius: 0 !important;
}
.modal.-inside {
  padding-bottom: env(safe-area-inset-bottom);
}
.modal.-inside .modal-dialog {
  padding: 0 20px;
  bottom: 20px;
}
.modal.-inside.show .modal-dialog {
  padding: 0 20px;
  bottom: 20px;
}
.modal.-inside.show .modal-dialog .modal-content {
  border-radius: 10px;
}
.modal.-inside.show .modal-dialog .modal-content.rounded-15 {
  border-radius: 15px !important;
}
.modal.-inside.show .modal-dialog .modal-footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.modal.modalCentered .modal-dialog {
  margin: 0 20px;
}
.modal.modalCentered .modal-dialog .modal-header {
  padding: 25px;
}
.modal.modalCentered .modal-dialog .close {
  position: absolute;
  right: 25px;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.mdll_removeStand.bttom_show.fade .modal-dialog {
  position: fixed;
  width: -webkit-fill-available;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
}
.mdll_removeStand.bttom_show.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.mdll_removeStand .modal-dialog-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100vh - -35rem);
  position: fixed;
  width: -webkit-fill-available;
}
.mdll_removeStand .modal-dialog {
  margin: 20px;
}
.mdll_removeStand .modal-dialog,
.mdll_removeStand .modal-content,
.mdll_removeStand .modal-body {
  border-radius: 10px !important;
  padding: 0;
}
.mdll_removeStand .content {
  padding: 20px;
}
.mdll_removeStand .content .icon {
  margin-right: 15px;
  background-color: rgba(255, 64, 64, 0.1);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.mdll_removeStand .content .icon svg {
  width: 20px;
  height: 20px;
}
.mdll_removeStand .content .icon svg path {
  fill: var(--color-red);
}
.mdll_removeStand .media-body .txt h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}
.mdll_removeStand .media-body .txt p {
  font-size: 14px;
  color: var(--color-text);
  margin: 0;
}
.mdll_removeStand .modal-footer {
  border: 0;
  padding: 0px 20px 20px 20px;
}
